.amazing-Full-discount {
  width: 100%;
  height: 442px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  .amazing-Full-discount {
    width: 85%;
    height: 100%;
    background-color: rgb(2, 154, 73);
    padding: 10px;
    border-radius: 16px;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background: #fff; */
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(2, 154, 73);
      .swiper-slide-start {
        width: 130px;
        height: 325px;
        display: flex;
        flex-flow: column wrap;
        justify-items: center;

        background-color: rgb(2, 154, 73);
        .swiper-slide-start-first {
          width: 120px;
          height: 120px;
          display: block;
          margin: 15px 20px;
        }

        .swiper-slide-start-second {
          width: 120px;
          height: 120px;
          display: block;
          margin: 5px auto;
        }
        button {
          width: 110px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 50px;
          right: 0px;
          background-color: rgba(0, 0, 0, 0);
          border-color: white;
          color: white;
          font-family: var(--font);
          font-size: 12px;
          border-radius: 8px;
        }
      }
      .swiper-slide-amazing-item {
        width: 192px;
        height: 385px;
        padding: 12px 8px;
        background-color: white;
        border-radius: 8px;
        .swiper-slide-amazing-item-suggest {
          width: 100%;
          height: 14px;
          display: flex;
          justify-content: right;
          text-align: right;
          img {
            width: 50%;
            height: 50%;
          }
        }
        img {
          width: 132px;
          height: 132px;
          display: block;
          margin: 5px auto;
        }
        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          overflow: hidden;
          font-family: var(--font);
          font-size: 12px;
          width: 85%;
          height: 80px;
          line-height: 25px;
          margin: 15px auto;
          color: gray;
        }

        .discount {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row-reverse;
          padding: 0 10px;
          font-family: var(--font);
          font-size: 14px;
          .discount-price {
            display: flex;
            align-items: center;
            font-weight: bold;
            font-family: var(--font-naz);
            flex-direction: row-reverse;
            img {
              width: 16px;
              height: 16px;
            }
          }
          .discount-number {
            font-family: var(--font-naz);
            font-size: 14px;
            font-weight: bold;
            color: whitesmoke;
            background-color: #db304e;
            border-radius: 10px;
            padding: 0 8px;
          }
        }
        .price {
          font-family: var(--font-naz);
          font-size: 12px;
          display: inline-block;
          width: 100%;
          text-align: left;
          padding: 0 30px;
          color: rgb(212, 210, 210);
          text-decoration-line: line-through;
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.border-radius-16-end {
  border-radius: 16px 0 0 16px;
}